@import '../../assets/scss/base';

.half-content{
    width: 50%;
}
.form-control, .form-group, .form-check{
    margin-bottom: 20px;
    
    label, span{
        color: $secondary; 
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
    }
}

.tweet-count{
    margin-top: 20px;
    input {
    width: 100%;
    }
}



